<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>toffeeCookieCompanyWebsite</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<!-- <link rel="stylesheet" href="https://fontawesome.com/icons/instagram?f=brands&s=solid"> -->
<style>
body {
    font-family: "Roboto";
}
</style>
</head>
<body>
<header>
<div class="main-heading">
    <div class="title-row">
        <img src="/static/images/tcc logo.jpeg" width="150px" alt="tcc logo">
        <h1>toffeeCookieCompany</h1>
    </div>
    <p>the best cookie you'll ever eat</p>
</div>

<!-- <div class="tcc-image">
    <img src="/static/images/tcc logo.jpeg" width="250px" alt="tcc logo">
</div> -->

</header>
<!-- Home page -->

<div class="button-container">
    <a href="/cookies" class="button">See Cookies</a>
    <a href="/about" class="button">About</a>
</div>

<div class="button-container">
    <a href="https://www.instagram.com/toffeecookiecompany/" class="button">Instagram</a>
    <a href="https://www.linkedin.com/in/jalal-abdullah/" class="button">Linkedin</a>
</div>

</body>
</html>