<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>toffeeCookieCompanyWebsite</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<style>
body {
    font-family: "Roboto";
}
</style>
</head>
<body>
<header>
<div class="main-heading">
    <h1>toffeeCookieCompany</h1>
    <p>the best cookie you'll ever eat</p>
</div>
</header>


<div class="button-container">
    <div>
        <button class="button" onclick="location.href='/redKeySignup/'">See Cookies</button>
    </div>

    <div>
        <button class="button" onclick="location.href='/redKeySignup/'">About the baker</button>
    </div>
</div>



</body>
</html>