.main-heading {
    border: 2px solid black;
    margin: auto;
    width: 600px;
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.button{
    border: 2px solid black;
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 30px;
}
.button-container{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    /* align-items: center; */
}
