.main-heading {
    margin: auto;
    width: 600px;
    padding-top: 60px;
    padding-left: 50px;
    text-align: center;
    color: black;
    font-size: 30px;
}
.menu-list{
    list-style-type: none;
    padding: 0;
    justify-content: left;
    font-size: 30px;
    text-decoration: none;

}
.menu-item{
    display: inline;
    margin-left: 10px;
    text-decoration: none;

}
.button{
    border: 2px solid black;
    width: 200px;;
    height: 40px;
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}
.button-container{
    padding-top: 15px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.cookie-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.cookie-card{
    text-align: center;
}

.about-titles{
    text-align: center;
}

.about-text{
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    width: 400px;
}

.about-img{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.about-list{
    /* margin: 0 auto; */
    text-align: center;
    list-style-position: inside;
}

.title-row{
    display: flex;
    align-items: center;
}

