<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>toffeeCookieCompanyWebsite</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<style>
body {
    font-family: "Roboto";
}
</style>
</head>
<body>
<header>
<!-- Cookie page -->

    <div class="main-heading">
        <h1>toffeeCookieCompany</h1>
        <p>Cookies</p>

    <ul class="menu-list">
        <a href="/home">Home</a>
        <a href="/about">About</a>
    </ul>
    </div>
</div>

</header>

<section class="cookie-section">
    <article class="cookie-card">
    <img src="/static/images/cookie1.JPEG" alt="cookie1"
        width="400px" height="400px">
        <h3>Chocolate toffee</h3>
        <p>Browned butter with chunks of chocolate and toffee</p>
    </article>

    <article class="cookie-card">
    <img src="/static/images/cookie2.JPEG" alt="cookie2"
        width="400px" height="400px">
        <h3>Biscoff Chip</h3>
        <p>Our signature cookie toppped with biscoff creme and lotus</p>
    </article>

    <article class="cookie-card">
    <img src="/static/images/cookie4.JPEG" alt="cookie3"
        width="400px" height="400px">
        <h3>Dubai Chocolate</h3>
        <p>Our signature cookie topped with dubai filling and pistachios</p>
    </article>

</section>

</body>
</html>